<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country and State Selection</title>
    <style>
        .logout-link {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#country').change(function() {
                var country = $(this).val();
                $.ajax({
                    url: '/get_states',
                    type: 'POST',
                    data: {country: country},
                    success: function(response) {
                        if (!response.error) {
                            var options = '<option value="">Select State</option>'; // Add an empty option
                            $.each(response.data.states, function(index, state) {
                                options += '<option value="' + state.name + '">' + state.name + '</option>';
                            });
                            $('#state').html(options);
                        } else {
                            console.error('Error:', response.msg);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>
</head>
    <body>
    <h1>Country and State Selection</h1>
    <form method="POST" action="/country_state_result">
        {{ form.csrf_token }}
        <p>{{ form.country.label }}<br>{{ form.country(id="country", class="form-control") }}</p>
        <p>{{ form.state.label }}<br>{{ form.state(id="state", class="form-control") }}</p>
        <p>{{ form.submit }}</p>
        <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
     </form>
    </body>
</html>
