<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication Page</title>
    <style>
        .logout-link {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <h1>Multiplication Page</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <p>{{ form.number1.label }}<br>{{ form.number1 }}</p>
        <p>{{ form.number2.label }}<br>{{ form.number2 }}</p>
        <p>{{ form.submit }}</p>
        <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
    </form>
</body>
</html>
